<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>@Page.Title - UCF College of Business Administration</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="UCF-Business" />

        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/images/ico/apple-touch-icon-57-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png" />

        <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

        <!-- Bootstrap core CSS -->
        <link href="../content/css/bootstrap.css" rel="stylesheet">
        <!-- Site CSS -->
        <link type="text/css" rel="stylesheet" href="~/styles/site.css" />

        @RenderSection("Styles", required: false)

        <script src="~/scripts/modernizr-2.6.2.js"></script>
        <!-- Google Analytics Code -->
    </head>
    <body class="page"><a id="top"></a>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="grid grid--baseline grid--off"></div>
        <div class="grid grid--col12 grid--off"></div>

        @*<img src="..." class="img-responsive" alt="Responsive image">*@

        <div class="container">
        <div id="oe_overlay" class="oe_overlay"></div>

            <header>
                <div class="content-wrapper">
                    <div class="float-left">
                        <p class="site-title"><a href="~/">your logo here</a></p>
                    </div>
                    <div class="float-right">
                        <section id="login">
                            @if (WebSecurity.IsAuthenticated) {
                                <text>
                                    Hello, <a class="email" href="~/Account/Manage" title="Manage">@WebSecurity.CurrentUserName</a>!
                                    <form id="logoutForm" action="~/Account/Logout" method="post">
                                        @AntiForgery.GetHtml()
                                        <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                                    </form>
                                </text>
                            } else {
                                <ul>
                                    <li><a href="~/Account/Register">Register</a></li>
                                    <li><a href="~/Account/Login">Log in</a></li>
                                </ul>
                            }
                        </section>
                        <nav>
                            <ul id="menu">
                                <li><a href="~/">Home</a></li>
                                <li><a href="~/About">About</a></li>
                                <li><a href="~/Contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>

            <div id="body">
                @RenderSection("featured", required: false)
                <section class="content-wrapper main-content clearfix">
                    @RenderBody()
                </section>
            </div>

            <nav>
                <ul id="oe_menu" class="oe_menu">
                    <li><a href="">Activate Overlay</a></li>
                </ul>
            </nav>

        </div>

        <footer>
            <div class="content-wrapper">
                <div class="float-left"><p>&copy; @DateTime.Now.Year - University of Central Florida, College of Business Administration</p></div>
            </div>

            <!-- jquery -->
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="~/scripts/jquery-2.0.3.min.js"><\/script>')</script>

            <script src="~/content/js/bootstrap.min.js"></script>
            <script data-main="content/js/main" src="~/scripts/require.js"></script>

            <script src="~/content/js/jquery.easing.min.js"></script>
		    <!-- waypoints jQuery plugin by http://imakewebthings.com/ : http://imakewebthings.com/jquery-waypoints/ -->
		    <script src="~/content/js/waypoints.min.js"></script>
		    <!-- jquery-smartresize by @@louis_remi : https://github.com/louisremi/jquery-smartresize -->
		    <script src="~/content/js/jquery.debouncedresize.js"></script>
		    <script src="~/content/js/cbpFixedScrollLayout.min.js"></script>

            <script>
                $(function () {
                    // load scripts on document.ready

                    cbpFixedScrollLayout.init();

                    // Disable right-click
                    $(document).bind("contextmenu", function (e) {
                        return false;
                    });

                    // Check if cookies are enabled
                    var dt = new Date();
                    dt.setSeconds(dt.getSeconds() + 60);
                    document.cookie = "cookietest=1; expires=" + dt.toGMTString();
                    var cookiesEnabled = document.cookie.indexOf("cookietest=") != -1;
                    if (!cookiesEnabled) {
                        // cookies are not enabled
                        alert('cookies are not enabled');
                    }

                    //$(element).center();

                    //----- Back to top link--------------------------------
                    var offset = 220;
                    var duration = 500;
                    $(window).scroll(function () {
                        if ($(this).scrollTop() > offset) {
                            $('.back-to-top').fadeIn(duration);
                        } else {
                            $('.back-to-top').fadeOut(duration);
                        }
                    });

                    $('.back-to-top').click(function (event) {
                        event.preventDefault();
                        $('html, body').animate({ scrollTop: 0 }, duration);
                        return false;
                    })
                    //------------------------------------------------------

                    var $oe_menu = $('#oe_menu');
                    var $oe_menu_items = $oe_menu.children('li');
                    var $oe_overlay = $('#oe_overlay');

                    $oe_menu.bind('mouseenter',function(){
                        var $this = $(this);
                        $oe_overlay.stop(true,true).fadeTo(200, 0.6);
                        $this.addClass('hovered');
                    }).bind('mouseleave',function(){
                        var $this = $(this);
                        $this.removeClass('hovered');
                        $oe_overlay.stop(true,true).fadeTo(200, 0);
                        $oe_menu_items.children('div').hide();
                    })

                });
            </script>

            @RenderSection("Scripts", required: false)
        </footer>

        <a href="#" class="back-to-top">Top &#x25B2;</a>
    </body>
</html>