<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <!--

        Copyright (c) University of Central Florida, College of Business | http://business.ucf.edu

        -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>@Page.Title - UCF College of Business Administration</title>
        <meta name="description" content="University of Central Florida, College of Business Administration, Accounting, Economics, Finance, Management, Marketing, Real Estate, Sport Business" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="apple-mobile-web-app-title" content="UCF-Business" />
        @*<link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/images/ico/apple-touch-icon-57-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png" />*@
        <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
        <!-- Bootstrap CSS -->
        <link type="text/css" rel="stylesheet" href="~/content/bootstrap/bootstrap.css" />
        <!-- Site CSS -->
        <link type="text/css" rel="stylesheet" href="~/styles/site.css" />
        <link type="text/css" rel="stylesheet" href="~/content/css/font-awesome.min.css" />
        @RenderSection("Styles", required: false)

        <!-- Modernizr Code -->
        <script src="~/scripts/modernizr-2.6.2.js"></script>
        <!-- Google Analytics Code 
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-44861717-1', 'ucf.edu');
          ga('send', 'pageview');

        </script>-->

    </head>
    <body class="page page-img" onload="setTimeout(function() { window.scrollTo(0, 1) }, 100);"> <!--Hides URL Bar on iPhone-->
        <a id="top"></a>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!--BEGIN: Content-->
        <div id="container">
            <div id="content" class="screen-content">
                <div class="content-wrapper">
                        <!---->
                        <aside class="cover cover-home">
                            <div class="cover-header cover-img">
                                <div id="UCFHBHeader">
                                    <div class="UCFHBWrapper">
                                        <section id="UCFtitle">
                                            <a href="http://www.ucf.edu" target="_blank"><span class="UCFHBText">University of Central Florida</span></a><!--/UCF Logo-->
                                        </section>
                                    </div><!--/UCF Header Wrapper-->
                                </div><!--/UCFHBHeader -->
                                <nav id="main_menu" class="dl-menuwrapper site-nav clearfix">
                                    <a href="~/" class="dl-home">HOME</a>
                                    <button class="dl-trigger">DISCOVER</button>
                                    <ul class="dl-menu">
				                        <li>
					                        <a href="#">Academics</a>
					                        <ul class="dl-submenu">
                                                <li class="Label breadcrumb">Academics</li>
						                        <li>
							                        <a href="#">Undergraduate</a>
							                        <ul class="dl-submenu">
                                                        <li class="Label breadcrumb">Academics > Undergraduate</li>
								                        <li><a href="~/undergraduate/admissions">Admissions</a></li>
								                        <li><a href="~/undergraduate/programs">Degree Programs</a></li>
								                        <li><a href="~/undergraduate/international-programs">International Programs</a></li>
							                        </ul>
						                        </li>
						                        <li>
							                        <a href="#">Graduate</a>
							                        <ul class="dl-submenu">
                                                        <li class="Label breadcrumb">Academics > Graduate</li>
								                        <li><a href="~/graduate/admissions">Admissions</a></li>
								                        <li><a href="~/graduate/programs">Degree Programs</a></li>
								                        <li><a href="~/graduate/certificates">Certificates</a></li>
							                        </ul>
						                        </li>
                                                <li>
							                        <a href="#">Executive Education</a>
							                        <ul class="dl-submenu">
                                                        <li class="Label breadcrumb">Academics > Executive Education</li>
								                        @*<li><a href="~/execed/custom-programs">Customized Programs</a></li>
                                                        <li><a href="~/execed/international-residency">International Residency</a></li>
                                                        <li><a href="~/execed/open-enrollment">Open-Enrollment Programs</a></li>*@
                                                        <li><a href="http://edc.research.ucf.edu/customized_programs" target="_blank">Customized Programs</a></li>
								                        <li><a href="http://edc.research.ucf.edu/international-programs" target="_blank">International Residency</a></li>
                                                        <li><a href="http://edc.research.ucf.edu/open-enrollment-programs" target="_blank">Open-Enrollment Programs</a></li>
							                        </ul>
						                        </li>
					                        </ul>
				                        </li>
				                        <li>
					                        <a href="#">Our College</a>
					                        <ul class="dl-submenu">
                                                <li class="Label breadcrumb">Our College</li>
						                        <li><a href="~/history">History</a></li> <!--include mission and vision-->
                                                <li><a href="~/accreditation">Accreditation</a></li>
                                                @*<li><a href="~/administration">Administration</a></li>*@
                                                <li><a href="~/facts-figures">Facts &amp; Figures</a></li>
                                                <li><a href="~/downtown-center">Downtown Center</a></li>
                                                <li><a href="~/social-media">Social Media</a></li>
						                        <li><a href="~/student-ambassadors">Student Ambassadors</a></li>
                                                <li><a href="~/student-organizations">Student Organizations</a></li>
					                        </ul>
				                        </li>
                                        <li>
					                        <a href="#">Faculty &amp; Research</a>
					                        <ul class="dl-submenu">
                                                <li class="Label breadcrumb">Faculty Research</li>
						                        <li><a href="#"><small>(coming soon)</small></a></li>
					                        </ul>
				                        </li>
                                        <li>
					                        <a href="#">Alumni &amp; Friends</a>
					                        <ul class="dl-submenu">
                                                <li class="Label breadcrumb">Alumni &amp; Friends</li>
						                        @*<li><a href="#">Development</a></li>
						                        <li><a href="#">Hall of Fame</a></li>
                                                <li><a href="#">Spotlights</a></li>*@
                                                 <li><a href="http://www.ucfalumni.com/collegeofbusiness" target="_blank">Visit our alumni website</a></li>

                                                <!--action links
						                        <li><a href="#">V-volunteer</a></li>
                                                <li><a href="#">A-attend</a></li>
						                        <li><a href="#">L-lead</a></li>
                                                <li><a href="#">U-update</a></li>
                                                <li><a href="#">E-experience</a></li>
                                                -->
					                        </ul>
				                        </li>
                                        <li>
					                        <a href="#">Careers &amp; Recruitment</a>
					                        <ul class="dl-submenu">
                                                <li class="Label breadcrumb">Careers &amp; Recruitment</li>
                                                @*<li><a href="#">Hire our students</a></li>
                                                <li><a href="#">Geoff</a></li>*@
						                        <li><a href="#"><small>(coming soon)</small></a></li>

					                        </ul>
				                        </li>
			                        </ul>

                                    <form id="site-search" class="site-search" action="/search" name="input" method="get" >
                                        <input type="search" placeholder="SEARCH" name="cx=004234240553222255636:70uztgpm38y&cof=FORID:9&ie=UTF-8&q" class="dl-search-field" />
                                        <input type="submit" value="submit" class="dl-searchbutton" />
                                        <span class="dl-search-icon"></span>
                                    </form>

			                        <div id="sb-search" class="sb-search">
				                        <form action="/search" name="input" method="get" >
					                        <input class="sb-search-input" placeholder="SEARCH" type="text" value="" name="cx=004234240553222255636:70uztgpm38y&cof=FORID:9&ie=UTF-8&q" id="search">
					                        <input class="sb-search-submit" type="submit" value="">
					                        <span class="sb-icon-search"></span>
				                        </form>
			                        </div>
                                    
                                </nav><!--/dl-menuwrapper -->
                                <div class="site-nav-overlay"></div>
                                <div class="container"><br>@RenderSection("featured", required: false)</div>

                                @*<!-- for development only --><p><label class="message" style="display: block; color: #fff"></label></p><!-- for development only -->*@

                            </div> <!--/.cover-header -->
	                        <div class="cover-body">
                                <div class="cover-body-inner">
			                        <h1 class="cover-title">College <span>of</span> Business</h1>
			                         @*<p class="cover-description"><em>Slaying the B.E.A.S.T. since 1968.</em></p>
                                       <br><br>Those wishing to seek greatness need only <a href="#" title="..." class="apply-button">apply</a>.*@
                                    <div class="copyright"><p>&copy; @DateTime.Now.Year - University of Central Florida, College of Business</p></div>
                                    <img src="~/images/ucf-opportunity.png" alt="ucf stands for opportunity">
                                    <div><!--scroll down arrow--></div>
		                        </div>
                            </div><!--/.cover-body -->
                        </aside><!--/.cover -->
		                <section id="main-content" class="wrapper"><!--background image here-->
			                <div class="wrapper-inner">
                                <!---->
                                <header class="wrapper-header">
                                    <div class="wrapper-header-inner">
                                        @*Students | Faculty | Corporate Partners | Search*@
                                    </div>
                                </header><!--/.wrapper-header -->
                                <!---->
                                <div class="wrapper-body">
                                    <div class="wrapper-body-inner">
                                        @RenderBody()
                                    </div>
                                </div><!--/.wrapper-body -->
                                <!---->
                                <footer class="wrapper-footer">
                                    <div class="wrapper-footer-inner">
                                        <ul class="clearfix">
                                            <li>
                                                <p class="address">Address</p>
                                                <ul>
                                                    <li>University of Central Florida</li>
                                                    <li>College of Business Administration</li>
                                                    <li>4000 Central Florida Blvd.,</li>
                                                    <li>P.O. Box 161991</li>
                                                    <li>Orlando, Florida 32816-1991</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <p class="contact">Contact Info</p>
                                                <ul>
                                                    <li><a href="#" target="_blank">Undergraduate Advising</a></li>
                                                    <li><a href="tel:4078232184">(407) 823-2184</a></li>
                                                    <li><a href="#" target="_blank">Graduate Advising</a></li>
                                                    <li><a href="tel:4078232184">(407) 235-3917</a></li>
                                                    <li><a href="#" target="_blank">General Information</a></li>
                                                    <li><a href="tel:4078232184">(407) 823-2181</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <p class="qlinks">Quick Links</p>
                                                <ul>
                                                    <li><a href="http://my.ucf.edu" target="_blank">My UCF</a></li>
                                                    <li><a href="http://library.ucf.edu" target="_blank">UCF Library</a></li>
                                                    <li><a href="http://ucf.custhelp.com" target="_blank">Ask UCF</a></li>
                                                    <li><a href="https://giving.ucffoundation.org/SSLPage.aspx?pid=549" target="_blank">Give Back</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <p class="social">Stay Connected</p>
                                                <div><a href="http://www.twitter.com/ucfbusiness" target="_blank">twitter</i></a></div>
                                                <div><a href="https://plus.google.com/107946459277643419963/posts" target="_blank">google +1</i></a></div>
                                                <div><a href="http://www.facebook.com/ucfcba" target="_blank">facebook</i></a></div>
                                                <div><a href="http://bit.ly/ucfbusinessalumni" target="_blank">linked-in</i></a></div>
                                            </li>
                                        </ul>
                                        <br>
                                    </div>
                                </footer><!--/.wrapper-footer -->
                                <!---->
			                </div>
		                </section><!--/.wrapper -->
                        @*<aside class="backend content-wrapper">
                            <div class="backend-cover-img" style="background-image: url('images/finance-bg.jpg')">
                                Stuff goes here.
                            </div>
                        </aside>*@<!--/.backend -->
                        <!---->
                </div>
            </div>
        </div><!--/content container -->
        <!--FINIS: Content-->

        <a href="#" class="back-to-top"><i class="icon-angle-up"></i></a>
        <span style="position:absolute; top:0; right:0; z-index:9999; width:60px; height:60px; background:url(/images/beta.png) no-repeat;"></span>
        <div class="loading-bar"></div>

        <!-- jquery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="~/scripts/jquery-2.0.3.min.js"><\/script>')</script>

        <!-- bootstrap -->
        <script src="~/scripts/bootstrap.min.js"></script>

        <!-- for development -->
        @*<script src="~/scripts/holder.min.js"></script>*@

        <script src="//scripts.bus.ucf.edu/cdn/js/scripts/plugins.js" type="text/javascript"></script>
        <script src="//scripts.bus.ucf.edu/cdn/js/scripts/sly.hoz.js" type="text/javascript"></script>
        <script src="//scripts.bus.ucf.edu/cdn/js/libs/bootstrap-scrollspy" type="text/javascript"></script>

        <script src="~/content/js/classie.js"></script>
        <script src="~/content/js/sidebarEffects.js"></script>

        @*<script src="~/content/js/jquery.lockfixed.min.js"></script>
        <script>
            (function($) {
	            $.lockfixed("ul.menu",{offset: {top: 10, bottom: 410}});
            })(jQuery);	
        </script>

        <script src="~/content/js/uisearch.js"></script>
        <script>
			new UISearch( document.getElementById( 'sb-search' ) );
		</script>*@

        <!-- production -->
        <script data-main="/scripts/main" src="~/scripts/require.js"></script>

        @RenderSection("Scripts", required: false)
    </body>
</html>