<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <!--

        Copyright (c) University of Central Florida, College of Business | http://business.ucf.edu

        -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>@Page.Title - UCF College of Business Administration</title>
        <meta name="description" content="University of Central Florida, College of Business Administration, Accounting, Economics, Finance, Management, Marketing, Real Estate, Sport Business" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="apple-mobile-web-app-title" content="UCF-Business" />

        @*<link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/images/ico/apple-touch-icon-57-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png" />*@

        <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

        <!-- Bootstrap core CSS -->
        <link type="text/css" rel="stylesheet" href="~/content/bootstrap/bootstrap.css" />
        <!-- Site CSS -->
        <link type="text/css" rel="stylesheet" href="~/styles/site.css" />
        <link type="text/css" rel="stylesheet" href="~/content/css/font-awesome.min.css" />

        @RenderSection("Styles", required: false)

        <script src="~/scripts/modernizr-2.6.2.js"></script>
        <!-- Google Analytics Code -->

    </head>
    <body class="page page-img"><a id="top"></a>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <header>
            <div class="content-wrapper">
                @*This area is for announcements and alerts which will appear at the top of the site.*@
            </div>
        </header> <!--/header -->
        
        <div class="site-nav-overlay"></div>

        <!--BEGIN: Content-->
        <div id="container">
            <div id="content" class="main-content clearfix">
                <div class="content-wrapper">
	                <div class="screen-content">
                        <!---->
                        <aside class="cover cover-home">
			                <!---->
                            <div class="cover-header cover-img">
                                <div id="UCFHBHeader">
                                    <div class="UCFHBWrapper">
                                        <section id="UCFtitle">
                                            <a href="http://www.ucf.edu" target="_blank"><span class="UCFHBText">University of Central Florida</span></a><!--/UCF Logo-->
                                        </section>
                                    </div><!--/UCF Header Wrapper-->
                                </div> <!--/UCFHBHeader -->
                                <nav id="main_menu" class="dl-menuwrapper clearfix">
                                    <a href="~/" class="dl-home">HOME</a>
                                    <button class="dl-trigger">DISCOVER</button>
                                    <ul class="dl-menu">
				                        <li>
					                        <a href="#">Academics</a>
					                        <ul class="dl-submenu">
                                                <li class="Label breadcrumb">Academics</li>
						                        <li>
							                        <a href="#">Undergraduate</a>
							                        <ul class="dl-submenu">
                                                        <li class="Label breadcrumb">Academics > Undergraduate</li>
								                        <li><a href="~/undergraduate/admissions">Admissions</a></li>
								                        <li><a href="~/undergraduate/programs">Degree Programs</a></li>
								                        <li><a href="~/undergraduate/international-programs">International Programs</a></li>
							                        </ul>
						                        </li>
						                        <li>
							                        <a href="#">Graduate</a>
							                        <ul class="dl-submenu">
                                                        <li class="Label breadcrumb">Academics > Graduate</li>
								                        <li><a href="~/graduate/admissions">Admissions</a></li>
								                        <li><a href="~/graduate/programs">Degree Programs</a></li>
								                        <li><a href="~/graduate/certificates">Certificates</a></li>
							                        </ul>
						                        </li>
                                                <li>
							                        <a href="#">Executive Education</a>
							                        <ul class="dl-submenu">
                                                        <li class="Label breadcrumb">Academics > Executive Education</li>
								                        <li><a href="~/execed/custom-programs">Customized Programs</a></li>
								                        <li><a href="~/execed/international-residency">International Residency</a></li>
                                                        <li><a href="~/execed/open-enrollment">Open-Enrollment Programs</a></li>
							                        </ul>
						                        </li>
					                        </ul>
				                        </li>
				                        <li>
					                        <a href="#">Our College</a>
					                        <ul class="dl-submenu">
                                                <li class="Label breadcrumb">Our College</li>
						                        <li><a href="#">History</a></li> <!--include mission and vision-->
                                                <li><a href="#">Accreditation</a></li>
                                                <li><a href="#">Administration</a></li>
                                                <li><a href="#">Facts &amp; Figures</a></li>
                                                <li><a href="#">Services &amp; Locations</a></li>
                                                <li><a href="#">Social Media</a></li>
						                        <li><a href="#">Student Ambassadors</a></li>
                                                <li><a href="#">Student Organizations</a></li>
					                        </ul>
				                        </li>
                                        <li>
					                        <a href="#">Faculty &amp; Research</a>
					                        <ul class="dl-submenu">
                                                <li class="Label breadcrumb">Faculty Research</li>
						                        <li><a href="#">Working papers</a></li>
					                        </ul>
				                        </li>
                                        <li>
					                        <a href="#">Alumni &amp; Friends</a>
					                        <ul class="dl-submenu">
                                                <li class="Label breadcrumb">Alumni &amp; Friends</li>
						                        <li><a href="#">Development</a></li>
						                        <li><a href="#">Hall of Fame</a></li>
                                                <li><a href="#">Spotlights</a></li>

                                                <!--action links
						                        <li><a href="#">V-volunteer</a></li>
                                                <li><a href="#">A-attend</a></li>
						                        <li><a href="#">L-lead</a></li>
                                                <li><a href="#">U-update</a></li>
                                                <li><a href="#">E-experience</a></li>
                                                -->
					                        </ul>
				                        </li>
                                        <li>
					                        <a href="#">Careers &amp; Recruitment</a>
					                        <ul class="dl-submenu">
                                                <li class="Label breadcrumb">Careers &amp; Recruitment</li>
						                        <li><a href="#">Coming Soon</a></li>
					                        </ul>
				                        </li>
			                        </ul>

                                    <form id="site-search" class="site-search" action="/search" name="input" method="get" >
                                        <input type="search" placeholder="SEARCH" name="q" class="dl-search-field" />
                                        <input type="submit" value="submit" class="dl-searchbutton" />
                                        <span class="dl-search-icon"></span>
                                    </form>

			                        <div id="sb-search" class="sb-search">
				                        <form action="/search" name="input" method="get" >
					                        <input class="sb-search-input" placeholder="Search" type="text" value="" name="q" id="search">
					                        <input class="sb-search-submit" type="submit" value="">
					                        <span class="sb-icon-search"></span>
				                        </form>
			                        </div>
                                    
                                </nav> <!--/dl-menuwrapper -->
                                <div class="container"><br>@RenderSection("featured", required: false)</div>

                                <p><!-- for development only --><label class="message" style="display: block; color: #fff"></label><!-- for development only --></p>

                            </div> <!--/.cover-header -->
                            <!---->
	                        <div class="cover-body">
                                <div class="cover-body-inner">
			                        <h1 class="cover-title">College <span>of</span> Business</h1>
			                        <p class="cover-description"><em>Slaying the B.E.A.S.T. since 1968.</em></p>
                                        @*<br><br>Those wishing to seek greatness need only <a href="#" title="..." class="apply-button">apply</a>.*@
                                    <div class="copyright"><p>&copy; @DateTime.Now.Year - University of Central Florida, College of Business</p></div>
                                    <div><!--scroll down for more arrow--></div>
		                        </div>
                            </div> <!--/.cover-body -->
                            <!---->
                        </aside> <!--/.cover -->
                        <!---->
		                <section class="wrapper"> <!--background image here-->
			                <div class="wrapper-inner">
                                <!---->
                                <header class="wrapper-header">
                                    <div class="wrapper-header-inner"></div>
                                </header> <!--/.wrapper-header -->
                                <!---->
                                <div class="wrapper-body">
                                    <div class="wrapper-body-inner">@RenderBody()</div>
                                </div> <!--/.wrapper-body -->
                                <!---->
                                <footer class="wrapper-footer">
                                    <div class="wrapper-footer-inner">
                                        <ul class="clearfix">
                                            <li>
                                                <p class="home">Contact info</p>
                                                <div><a href="#">un-styled ink</i></a></div>

                                            </li>
                                            <li>
                                                <p class="services">Address</p>
                                                <ul>
                                                    <li>UCF College of Business Administration</li>
                                                    <li>4000 Central Florida Blvd., P.O. Box 161991</li>
                                                    <li>Orlando, Florida 32816-1991</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <p class="social">Contact Info</p>
                                                <ul>
                                                    <li><span>(407) 823-2184</span> - <a href="#">Undergraduate Advising</a></li>
                                                    <li><span>(407) 235-3917</span> - <a href="#">Graduate Advising</a></li>
                                                    <li><span>(407) 823-2181</span> - <a href="#">General Information</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <p class="qlinks">Quick Links</p>

                                                <ul>
                                                    <li><a href="#">Link to page.</a></li>
                                                    <li><a href="#">Link to page.</a></li>
                                                    <li><a href="#">Link to page.</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </footer> <!--/.wrapper-footer -->
                                <!---->
			                </div>
		                </section> <!--/.wrapper -->
                        <!---->
                        @*<aside class="backend">
                            <div class="backend-cover-img" style="background-image: url('images/finance-bg.jpg')">
                                Stuff goes here.
                            </div>
                        </aside>*@
                        <!---->
	                </div>
                </div>
            </div>
        </div> <!--/content container -->
        <!--FINIS: Content-->

        <footer> 
            <div class="content-wrapper">
                @*<img src="..." class="img-responsive" alt="Responsive image">*@
            </div>
        </footer> <!--/footer --><!--only visible on mobile and tablet view-->

        <a href="#" class="back-to-top"><i class="icon-angle-up"></i></a>
        <span style="position:absolute; top:0; right:0; z-index:9999; width:60px; height:60px; background:url(/images/beta.png) no-repeat;"></span>
        <div class="loading-bar"></div>

        <!-- jquery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="~/scripts/jquery-2.0.3.min.js"><\/script>')</script>

        <!-- bootstrap -->
        <script src="~/scripts/bootstrap.min.js"></script>

        <!-- for development -->
        @*<script src="~/scripts/holder.min.js"></script>*@

        <script src="//scripts.bus.ucf.edu/cdn/js/scripts/plugins.js" type="text/javascript"></script>
        <script src="//scripts.bus.ucf.edu/cdn/js/scripts/sly.hoz.js" type="text/javascript"></script>
        <script src="//scripts.bus.ucf.edu/cdn/js/libs/bootstrap-scrollspy" type="text/javascript"></script>

        <script src="~/content/js/classie.js"></script>
        @*<script src="~/content/js/dlmenu.js"></script>*@
        <script src="~/content/js/sidebarEffects.js"></script>

        @*<script src="~/content/js/jquery.lockfixed.min.js"></script>
        <script>
            (function($) {
	            $.lockfixed("ul.menu",{offset: {top: 10, bottom: 410}});
            })(jQuery);	
        </script>

        <script src="~/content/js/uisearch.js"></script>
        <script>
			new UISearch( document.getElementById( 'sb-search' ) );
		</script>*@

        <!-- production -->
        <script data-main="/scripts/main" src="~/scripts/require.js"></script>

        @RenderSection("Scripts", required: false)
    </body>
</html>