@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Homepage";


}

@section Styles {
    <!--<style> /*-- page-specific styles --*/ </style>-->
}

@section featured {
<section class="featured">
    <div class="content-wrapper">

        <hgroup class="title">
            <h1>@Page.Title</h1>
            <h2>H2 title header</h2>
        </hgroup>

        <p>UserName: @WebSecurity.CurrentUserName</p>
        <p>Authenticated: @WebSecurity.IsAuthenticated</p>

        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. 
            Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

    </div>
</section>
}


<div class="float-left">
    <p class="site-title"><a href="~/">College of Business</a></p>
</div>

<div class="float-right">
    <section id="login">
        @if (WebSecurity.IsAuthenticated) {
            <text>
                Hello, <a class="email" href="~/Account/Manage" title="Manage">@WebSecurity.CurrentUserName</a>!
                <form id="logoutForm" action="~/Account/Logout" method="post">
                    @AntiForgery.GetHtml()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                </form>
            </text>
        } else {
            <ul>
                <li><a href="~/Account/Register">Register</a></li>
                <li><a href="~/Account/Login">Log in</a></li>
            </ul>
        }
    </section>
</div>