@{
	Layout = "~/_SiteLayout.cshtml";
	Page.Title = "Home";

	
	//Cache Page
	//Response.Cache.SetExpires(DateTime.Now.AddSeconds(60));
	//Response.Cache.SetCacheability(HttpCacheability.Public);
	//Response.Cache.SetValidUntilExpires(true);
	//careerpros.wordpress.com


	// Dean's Latest Blog Post //----------------------------------------------------------------
	System.Xml.XmlDocument wpDeanPost = new System.Xml.XmlDocument(); //-- New XML Document
	wpDeanPost.Load("http://pauljarley.wordpress.com/feed/"); //-- Load WordPress Feed onto XML Doc
	System.Xml.XmlElement xeDeanPost = wpDeanPost.DocumentElement; //-- Root Element

	String temp = xeDeanPost.SelectSingleNode("//item/guid").InnerText;
	String wpDeanPostGuid = temp.Substring(temp.Length - 4);
	
	String wpDeanPostPubDate = xeDeanPost.SelectSingleNode("//item/pubDate").InnerText;
	String wpDeanPostTitle = xeDeanPost.SelectSingleNode("//item/title").InnerText;
	String wpDeanPostHyperLink = xeDeanPost.SelectSingleNode("//item/link").InnerText;
	String wpDeanPostAbstract = xeDeanPost.SelectSingleNode("//item/description").InnerText;
	//-------------------------------------------------------------------------------------------

	// OPD-CareerPros Latest Blog Post //--------------------------------------------------------
	System.Xml.XmlDocument wpCareerPost = new System.Xml.XmlDocument(); //-- New XML Document
	wpCareerPost.Load("http://careerpros.wordpress.com/feed/"); //-- Load WordPress Feed onto XML Doc
	System.Xml.XmlElement xeCareerPost = wpCareerPost.DocumentElement; //-- Root Element
	String wpCareerPostGuid = System.Text.RegularExpressions.Regex.Replace(xeDeanPost.SelectSingleNode("//item/guid").InnerText, "https://today.ucf.edu/\\?p=", string.Empty);
	String wpCareerPostPubDate = xeCareerPost.SelectSingleNode("//item/pubDate").InnerText;
	String wpCareerPostTitle = xeCareerPost.SelectSingleNode("//item/title").InnerText;
	String wpCareerPostHyperLink = xeCareerPost.SelectSingleNode("//item/link").InnerText;
	String wpCareerPostAbstract = xeCareerPost.SelectSingleNode("//item/description").InnerText;
	//-------------------------------------------------------------------------------------------

	// UCF Today (latest post) //----------------------------------------------------------------
	//System.Xml.XmlDocument wpUcfTodayPost = new System.Xml.XmlDocument(); //-- New XML Document
	//wpUcfTodayPost.Load("http://today.ucf.edu/topic/college-of-business-administration/feed/"); //-- Load WordPress Feed onto XML Doc
	//System.Xml.XmlElement xeUcfTodayPost = wpUcfTodayPost.DocumentElement; //-- Root Element
	//String wpUcfTodayPostTitle = xeUcfTodayPost.SelectSingleNode("//item/title").InnerText;
	//String wpUcfTodayPostHyperLink = xeUcfTodayPost.SelectSingleNode("//item/link").InnerText;
	//String wpUcfTodayPostPubDate = xeUcfTodayPost.SelectSingleNode("//item/pubDate").InnerText;
	//-------------------------------------------------------------------------------------------

	// UCF Today (top 10 posts) //---------------------------------------------------------------
	System.Xml.XmlDocument ucfTodayPosts = new System.Xml.XmlDocument(); //-- New XML Document
	ucfTodayPosts.Load("http://today.ucf.edu/topic/college-of-business-administration/feed/"); //-- Load WordPress Feed onto XML Doc
	System.Xml.XmlElement xeUCFTodayPosts = ucfTodayPosts.DocumentElement; //-- Root Element
	String ucfTodayBlogTitle = xeUCFTodayPosts.SelectSingleNode("//title").InnerText;
	System.Xml.XmlNodeList ucfTodayPostList = xeUCFTodayPosts.SelectNodes("//channel/item"); //-- Blog Post List
	//-------------------------------------------------------------------------------------------
}

@section Styles {

}

@section featured {
	<!-- Authentication: BEGIN -->
	<section id="login" style="display: none; visibility: hidden;">
		<p>Authenticated: @WebSecurity.IsAuthenticated</p>
		@if (WebSecurity.IsAuthenticated) {
			<text>
				Hello, <a class="email" href="~/Account/Manage" title="Manage">@WebSecurity.CurrentUserName</a>!
				<form id="logoutForm" action="~/Account/Logout" method="post">
					@AntiForgery.GetHtml()
					<a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
				</form>
			</text>
		} else {
			<ul>
				<li><a href="~/Account/Register">Register</a></li>
				<li><a href="~/Account/Login">Log in</a></li>
			</ul>
		}
	</section>
	<!-- Authentication: FINIS -->

	<!-- Site Feedback: BEGIN -->
	<span id="msg" style="padding:10px; color:#fff"></span>
	<!-- Site Feedback: FINIS -->
}

@section Scripts {
	<script>
		require(['main'], function () {
			// Once the 'main' script is loaded, load up scripts specific to this page
			require(['pages/home'], function (Page) {
				Page.onLoad();
				Page.onResize();
			});
		});
	</script>
	<script>

		var e = ["&lt;p&gt;", "&lt;\/p&gt;", "&lt;a", "&lt;\/a&gt;"];
		var d = ["<p>", "</p>", "<a", "</a>"]

		var str, res;

		str = document.getElementById("news").innerHTML;
		res = str.replace(/&lt;p&gt;/g, "<p>");
		document.getElementById("news").innerHTML = res;

		str = document.getElementById("news").innerHTML;
		res = str.replace(/&lt;\/p&gt;/g, "</p>");
		document.getElementById("news").innerHTML = res;

		str = document.getElementById("news").innerHTML;
		res = str.replace(/&lt;a href=&quot;/g, '<a href="');
		document.getElementById("news").innerHTML = res;

		str = document.getElementById("news").innerHTML;
		res = str.replace(/&quot;&gt;/g, '">');
		document.getElementById("news").innerHTML = res;

		str = document.getElementById("news").innerHTML;
		res = str.replace(/&lt;\/a&gt;/g, "</a>");
		document.getElementById("news").innerHTML = res;

	</script>

}

<header class="section"></header>

<section class="section">
	<div class="pagespan">
		<!--// ROW - SPOTLIGHTS/FEATURED ANNOUNCEMENTS -->
		<section class="wrap">
			<div class="wrap-header">
				<span style="font-size: 1.3em; font-weight: 700;">Spotlights</span>
				<span style="font-size: 0.75em; color: #808080;"><small>SCROLL TO VIEW ALL >></small></span>
			</div>
			<div class="frame" id="row1" data-intro="row1" data-position="left">
				<ul class="clearfix" id="spotlights">

					<li class="long-panel">
						<div title="start here">
							<a href="//issuu.com/ucfbusiness/docs/cba-viewbook-2012?e=0" class="target_blank">
								<img class="viewbook" alt="ucf" data-echo="/images/pixel.gif">
								<p>Start Here...with our college guide</p>
							</a>
						</div>
					</li>

					<li>
						<div title="dean jarley's blog">
							<a href="#@wpDeanPostGuid" class="target_blank">
								<img alt="ucf" data-echo="/images/panels/dean-blog.jpg">
								<p>@wpDeanPostGuid Dean's Blog: @wpDeanPostTitle</p>
							</a>
							<div id="@wpDeanPostGuid" style="display:none">
								<div class="container-fluid">
									<div class="row">
										<div class="col-sm-6">
											<h1>@wpDeanPostTitle</h1>
											<hr />
											<p><em>@Convert.ToDateTime(wpDeanPostPubDate).ToLongDateString(), at @Convert.ToDateTime(wpDeanPostPubDate).ToShortTimeString()</em></p>
										</div>
										<div class="col-sm-6">
											<br />
											<p class="lead">@HttpUtility.HtmlDecode(wpDeanPostAbstract)</p>
											<p class="text-center"><a href="@wpDeanPostHyperLink" target="_blank" class="btn btn-primary btn-sm">Read Full Article</a></p>
											<p>&nbsp;</p>
										</div>
									</div><!--/.row-->
								</div>
							</div>
						</div>
					</li>

					<li>
						<div title="office of professional development blog">
							<a href="@wpCareerPostHyperLink" class="target_blank">
								<img alt="ucf" data-echo="/images/panels/opd-blog.jpg">
								<p>
									OPD Blog: @wpCareerPostTitle
									@*<small><em>@Convert.ToDateTime(wpCareerPostPubDate).ToLongDateString(), at @Convert.ToDateTime(wpCareerPostPubDate).ToShortTimeString()</em></small>*@
								</p>
							</a>
						</div>
					</li>

					<li>
						<div title="dr. sean snaith's economic forecasts">
							<a href="//iec.ucf.edu/page/forecasts.aspx" class="target_blank">
								<img alt="ucf" data-echo="/images/panels/snaith-forecasts.jpg">
								<p>Florida and U.S. Economic Forecasts from Dr. Sean Snaith</p>
							</a>
						</div>
					</li>

					<li>
						<div title="Take the ball by Dr. Paul Jarley">
							<a href="//www.bus.ucf.edu/dean/take-the-ball" class="target_blank">
								<img alt="ucf" data-echo="/images/panels/take-the-ball.jpg">
								<p>Learn how to Take the Ball</p>
							</a>
						</div>
					</li>

				</ul>
			</div><!--/.frame -->
			<div class="scrollbar">
				<div class="handle">
					<div class="mousearea"><span></span></div>
				</div>
			</div><!--/.scrollbar -->
			<div class="controls center use-fastclick">
				<button class="btn prevPage"><i class="fa fa-chevron-left"></i><i class="icon-chevron-left"></i></button><!--/back button-->
				<button class="btn nextPage"><i class="fa fa-chevron-right"></i></button><!--/forward button-->
			</div><!--/.controls -->
		</section>

		<!--// ROW - EVENTS -->
		<section class="wrap">
			<div class="wrap-header">
				<span style="font-size: 1.3em; font-weight: 700;">Events</span>
				<span style="font-size: 0.75em; color: #808080;"><small>SCROLL TO VIEW ALL >></small></span>
			</div>
			<div class="frame" id="row2" data-intro="row2" data-position="left">
				<ul class="clearfix" id="events">

					@*<li>
						<div title="get your evening mba"><!--August 1-->
							<a href="//ucfmba.ucf.edu/evening-mba" class="target_blank">
								<img alt="ucf evening mba panel" width="100%" height="100%" data-echo="/images/panels/evening-mba.jpg?@DateTime.Now.TimeOfDay">
								<p>Join us for an Information Session. <strong>Application Deadline: August 1</strong></p>
							</a>
						</div>
					</li>*@

					<li>
						<div title="get your professional mba">
							<!--August 21-->
							<a href="//edc.research.ucf.edu/pmba" class="target_blank">
								<img alt="ucf professional mba panel" width="100%" height="100%" data-echo="/images/panels/pmba-event.jpg?@DateTime.Now.TimeOfDay">
								<p>Join us for a PMBA Information Session in Downtown Orlando</p>
							</a>
						</div>
					</li>

					<li>
						<div title="welcome to the majors">
							<!--August 22-->
							<a href="//welcometothemajors.eventbrite.com/" class="target_blank">
								<img alt="welcome to the majors panel" width="100%" height="100%" data-echo="/images/panels/wttm.jpg?@DateTime.Now.TimeOfDay">
								<p>“Welcome to the Majors” is the signature welcome for all students entering the College of Business.</p>
							</a>
						</div>
					</li>

					<li>
						<div title="dean's speaker series">
							<!--September 5-->
							<a href="//vcart.velocitypayment.com/ucfedc/index.php?cPath=167_128" target="_blank">
								<img alt="dean's speaker series panel'" width="100%" height="100%" data-echo="/images/panels/gtrompeter.jpg?@DateTime.Now.TimeOfDay">
								<p>Dean's Speaker Series with Greg Trompeter, Ph.D.</p>
							</a>
						</div>
					</li>

					<li>
						<div title="executive and professional development programs">
							<!--September 17-->
							<a href="//edc.research.ucf.edu/negotiate" class="target_blank">
								<img alt="executive and professional development panel" width="100%" height="100%" data-echo="/images/panels/effective-negotiation.jpg?@DateTime.Now.TimeOfDay">
								<p>Effective Negotiation Two-Day Workshop</p>
							</a>
						</div>
					</li>

					<li>
						<div title="get your executive mba">
							<!--September 25-->
							<a href="//edc.research.ucf.edu/emba" class="target_blank">
								<img alt="ucf executive mba panel" width="100%" height="100%" data-echo="/images/panels/emba-event.jpg?@DateTime.Now.TimeOfDay">
								<p>Join us for a UCF EMBA Information Session in Downtown Orlando</p>
							</a>
						</div>
					</li>

					<li>
						<div title="veterans job fair">
							<!--November 7-->
							<a href="//www.bus.ucf.edu/events/veterans-job-fair/" class="target_blank">
								<img alt="veterans job fair panel" width="100%" height="100%" data-echo="/images/panels/veterans-job-fair.jpg?@DateTime.Now.TimeOfDay">
								<p>Attend the Central Florida Veterans Job Fair</p>
							</a>
						</div>
					</li>

				</ul>
			</div><!--/frame -->
			<div class="scrollbar">
				<div class="handle">
					<div class="mousearea"><span></span></div>
				</div>
			</div><!--/scrollbar -->
			<div class="controls center use-fastclick">
				<button class="btn prevPage"><i class="fa fa-chevron-left"></i><i class="icon-chevron-left"></i></button><!--/back button-->
				<button class="btn nextPage"><i class="fa fa-chevron-right"></i></button><!--/forward button-->
			</div><!--/controls -->
		</section>

		<!--// ROW - NEWS -->
		<section class="wrap">
			<div class="wrap-header">
				<span style="font-size: 1.3em; font-weight: 700;">News</span>
				<span style="font-size: 0.75em; color: #808080;"><small>SCROLL TO VIEW ALL >></small></span>
			</div>
			<div class="frame" id="row3" data-intro="row3" data-position="left">
				<ul class="clearfix" id="news">

					@{
						foreach (System.Xml.XmlNode itemNode in ucfTodayPostList)
						{
							if (itemNode.HasChildNodes)
							{
								string guid = "";
								string pubDate = "";
								string postTitle = "";
								string postAbstract = "";
								string postContent = "";
								string postThumbnail = "";
								string postLink = "";
								List<string> images = new List<string>();

								foreach (System.Xml.XmlNode xmlnode in itemNode)
								{
									if (xmlnode.Name == "title")
									{
										postTitle = xmlnode.InnerText;
									}

									if (xmlnode.Name == "link")
									{
										postLink = xmlnode.InnerText;
									}

									if (xmlnode.Name == "pubDate")
									{
										pubDate = xmlnode.InnerText;
									}

									if (xmlnode.Name == "guid")
									{
										guid = System.Text.RegularExpressions.Regex.Replace(xmlnode.InnerText, "https://today.ucf.edu/\\?p=", string.Empty);
									}

									if (xmlnode.Name == "description")
									{
										postAbstract = HttpUtility.HtmlDecode(xmlnode.InnerText);
									}

									if (xmlnode.Name == "content:encoded")
									{
										postContent = HttpUtility.HtmlDecode(xmlnode.InnerText);
									}

									if (xmlnode.Name == "enclosure")
									{
										postThumbnail = xmlnode.Attributes["url"].Value;
									}

									if (xmlnode.Name == "media:group")
									{
										images.Add(xmlnode.ChildNodes.Item(0).Attributes["url"].Value);
									}
								}
								
								<li>
									<div title="@ucfTodayBlogTitle">
										<a href="#@guid" class="target_blank">
											<img alt="@postTitle" data-echo="@postThumbnail">
											<p>@postTitle</p>
										</a>
										<div id="@guid" style="display:none">
											<div class="container-fluid">
												<div class="row">
													<div class="col-sm-6">
														<h1>@postTitle</h1>
														<hr />
														<p><em>@Convert.ToDateTime(pubDate).ToLongDateString(), at @Convert.ToDateTime(pubDate).ToShortTimeString()</em></p>
													</div>
													<div class="col-sm-6">
														<br />
														<p class="lead">@postAbstract</p>
														<p class="text-center"><a href="@postLink" target="_blank" class="btn btn-primary btn-sm">Read Full Article</a></p>
														<p>&nbsp;</p>
													</div>
												</div><!--/.row-->
												<div class="row">
													<img alt="ucf" data-echo="@images.FirstOrDefault()" width="100" style="width: 100%;">
												</div>
												<!--@postContent-->
											</div>
										</div>
									</div>
								</li>
						
							}
						}
					}

					<li>
						<div title="Stay connected with social media">
							<a href="~/social-media">
								<img alt="ucf" data-echo="/images/panels/social-media.jpg">
								<p>Join the Conversation and Stay Connected. <em>#UCFBusiness</em></p>
							</a>
						</div>
					</li>

				</ul>
			</div><!--/frame -->
			<div class="scrollbar">
				<div class="handle">
					<div class="mousearea"><span></span></div>
				</div>
			</div><!--/scrollbar -->
			<div class="controls center use-fastclick">
				<button class="btn prevPage"><i class="fa fa-chevron-left"></i><i class="icon-chevron-left"></i></button><!--/back button-->
				<button class="btn nextPage"><i class="fa fa-chevron-right"></i></button><!--/forward button-->
			</div><!--/controls -->
		</section>
	</div>
</section>