@{
	Layout = "~/_SiteLayout.cshtml";
	Page.Title = "Home";

	
	//Cache Page
	//Response.Cache.SetExpires(DateTime.Now.AddSeconds(60));
	//Response.Cache.SetCacheability(HttpCacheability.Public);
	//Response.Cache.SetValidUntilExpires(true);
	//careerpros.wordpress.com


	// Dean's Latest Blog Post //----------------------------------------------------------------
	//System.Xml.XmlDocument wpDeanPost = new System.Xml.XmlDocument(); //-- New XML Document
	//wpDeanPost.Load("http://pauljarley.wordpress.com/feed/"); //-- Load WordPress Feed onto XML Doc
	//System.Xml.XmlElement xeDeanPost = wpDeanPost.DocumentElement; //-- Root Element

	//String temp = xeDeanPost.SelectSingleNode("//item/guid").InnerText;
	//String wpDeanPostGuid = temp.Substring(temp.Length - 4);
	//
	//String wpDeanPostPubDate = xeDeanPost.SelectSingleNode("//item/pubDate").InnerText;
	//String wpDeanPostTitle = xeDeanPost.SelectSingleNode("//item/title").InnerText;
	//String wpDeanPostHyperLink = xeDeanPost.SelectSingleNode("//item/link").InnerText;
	//String wpDeanPostDescription = xeDeanPost.SelectSingleNode("//item/description").InnerText;
	//String wpDeanPostAbstract = System.Text.RegularExpressions.Regex.Replace(wpDeanPostDescription, "<[^>]*>", string.Empty);
	//-------------------------------------------------------------------------------------------

	// OPD-CareerPros Latest Blog Post //--------------------------------------------------------
	//System.Xml.XmlDocument wpCareerPost = new System.Xml.XmlDocument(); //-- New XML Document
	//wpCareerPost.Load("http://careerpros.wordpress.com/feed/"); //-- Load WordPress Feed onto XML Doc
	//System.Xml.XmlElement xeCareerPost = wpCareerPost.DocumentElement; //-- Root Element

	//String wpCareerPostGuid = System.Text.RegularExpressions.Regex.Replace(xeDeanPost.SelectSingleNode("//item/guid").InnerText, "https://today.ucf.edu/\\?p=", string.Empty);
	
	//
	//String wpCareerPostPubDate = xeCareerPost.SelectSingleNode("//item/pubDate").InnerText;
	//String wpCareerPostTitle = xeCareerPost.SelectSingleNode("//item/title").InnerText;
	//String wpCareerPostHyperLink = xeCareerPost.SelectSingleNode("//item/link").InnerText;
	//String wpCareerPostDescription = xeCareerPost.SelectSingleNode("//item/description").InnerText;
	//String wpCareerPostAbstract = System.Text.RegularExpressions.Regex.Replace(wpCareerPostDescription, "<[^>]*>", string.Empty);
	//-------------------------------------------------------------------------------------------

	// UCF Today (top 10 posts) //---------------------------------------------------------------
	System.Xml.XmlDocument ucfTodayBlog = new System.Xml.XmlDocument(); //-- New XML Document
	ucfTodayBlog.Load("http://today.ucf.edu/topic/college-of-business-administration/feed/"); //-- Load WordPress Feed onto XML Doc
	System.Xml.XmlElement ucfTodayBlogXe = ucfTodayBlog.DocumentElement; //-- Root Element
	
	String ucfTodayBlogTitle = ucfTodayBlogXe.SelectSingleNode("//title").InnerText; //-- Blog Title
	System.Xml.XmlNodeList ucfTodayPostList = ucfTodayBlogXe.SelectNodes("//channel/item"); //-- Blog Post List
	//-------------------------------------------------------------------------------------------

    // UCF Calendar (100 upcoming events) //-----------------------------------------------------
    System.Xml.XmlDocument ucfCalendar = new System.Xml.XmlDocument(); //-- New XML Document
    ucfCalendar.Load("http://events.ucf.edu/?calendar_id=73&upcoming=upcoming&format=rss&limit=100"); //-- Load Calendar XML Feed
    System.Xml.XmlElement ucfCalendarXe = ucfCalendar.DocumentElement; //-- Root Element
    String ucfCalendarTitle = ucfCalendarXe.SelectSingleNode("//title").InnerText;
    System.Xml.XmlNodeList ucfCalendarEvents = ucfCalendarXe.SelectNodes("//channel/item"); //-- Blog Post List
    //-------------------------------------------------------------------------------------------
}

@section Styles {
    <style>
        .frame > ul li {
            background: #8aaba4; /* Old browsers */
            background: -moz-linear-gradient(top, #8aaba4 0%, #8aada7 3%, #8db0aa 6%, #90b5ae 7%, #8eb6ae 9%, #91b9b1 11%, #accabe 16%, #b2ccbf 16%, #b4cec1 17%, #b9cfc3 17%, #c1d7ca 20%, #c4d8cc 22%, #c4d8cc 25%, #cbddd1 34%, #c9ddd1 46%, #dbe2da 61%, #e8e8e6 97%, #e8eae7 98%, #fefdf9 99%, #e5e7e4 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8aaba4), color-stop(3%,#8aada7), color-stop(6%,#8db0aa), color-stop(7%,#90b5ae), color-stop(9%,#8eb6ae), color-stop(11%,#91b9b1), color-stop(16%,#accabe), color-stop(16%,#b2ccbf), color-stop(17%,#b4cec1), color-stop(17%,#b9cfc3), color-stop(20%,#c1d7ca), color-stop(22%,#c4d8cc), color-stop(25%,#c4d8cc), color-stop(34%,#cbddd1), color-stop(46%,#c9ddd1), color-stop(61%,#dbe2da), color-stop(97%,#e8e8e6), color-stop(98%,#e8eae7), color-stop(99%,#fefdf9), color-stop(100%,#e5e7e4)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #8aaba4 0%,#8aada7 3%,#8db0aa 6%,#90b5ae 7%,#8eb6ae 9%,#91b9b1 11%,#accabe 16%,#b2ccbf 16%,#b4cec1 17%,#b9cfc3 17%,#c1d7ca 20%,#c4d8cc 22%,#c4d8cc 25%,#cbddd1 34%,#c9ddd1 46%,#dbe2da 61%,#e8e8e6 97%,#e8eae7 98%,#fefdf9 99%,#e5e7e4 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #8aaba4 0%,#8aada7 3%,#8db0aa 6%,#90b5ae 7%,#8eb6ae 9%,#91b9b1 11%,#accabe 16%,#b2ccbf 16%,#b4cec1 17%,#b9cfc3 17%,#c1d7ca 20%,#c4d8cc 22%,#c4d8cc 25%,#cbddd1 34%,#c9ddd1 46%,#dbe2da 61%,#e8e8e6 97%,#e8eae7 98%,#fefdf9 99%,#e5e7e4 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #8aaba4 0%,#8aada7 3%,#8db0aa 6%,#90b5ae 7%,#8eb6ae 9%,#91b9b1 11%,#accabe 16%,#b2ccbf 16%,#b4cec1 17%,#b9cfc3 17%,#c1d7ca 20%,#c4d8cc 22%,#c4d8cc 25%,#cbddd1 34%,#c9ddd1 46%,#dbe2da 61%,#e8e8e6 97%,#e8eae7 98%,#fefdf9 99%,#e5e7e4 100%); /* IE10+ */
            background: linear-gradient(to bottom, #8aaba4 0%,#8aada7 3%,#8db0aa 6%,#90b5ae 7%,#8eb6ae 9%,#91b9b1 11%,#accabe 16%,#b2ccbf 16%,#b4cec1 17%,#b9cfc3 17%,#c1d7ca 20%,#c4d8cc 22%,#c4d8cc 25%,#cbddd1 34%,#c9ddd1 46%,#dbe2da 61%,#e8e8e6 97%,#e8eae7 98%,#fefdf9 99%,#e5e7e4 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8aaba4', endColorstr='#e5e7e4',GradientType=0 ); /* IE6-9 */
        }
        .eventstart-date {
            background-color: rgba(255,255,255,0.93);
            border: 1px solid #ddd;
            border-radius: 50px;
            padding: 9px 9px 7px 9px;
            /*box-shadow: 3px 3px 6px #555;*/
            
            text-align: center;
            font-weight: 400;
            font-size: 0.87em;
            color: #333;
            
            position: absolute;
            top: 7px;
            left: 5px;
        }
    </style>
}

@section featured {
	<!-- Authentication: BEGIN -->
	<section id="login" style="display: none; visibility: hidden;">
		<p>Authenticated: @WebSecurity.IsAuthenticated</p>
		@if (WebSecurity.IsAuthenticated) {
			<text>
				Hello, <a class="email" href="~/Account/Manage" title="Manage">@WebSecurity.CurrentUserName</a>!
				<form id="logoutForm" action="~/Account/Logout" method="post">
					@AntiForgery.GetHtml()
					<a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
				</form>
			</text>
		} else {
			<ul>
				<li><a href="~/Account/Register">Register</a></li>
				<li><a href="~/Account/Login">Log in</a></li>
			</ul>
		}
	</section>
	<!-- Authentication: FINIS -->

	<!-- Site Feedback: BEGIN -->
	<span id="msg" style="padding:10px; color:#fff"></span>
	<!-- Site Feedback: FINIS -->
}

@section Scripts {
	<script>
		require(['main'], function () {
			// Once the 'main' script is loaded, load up scripts specific to this page
			require(['pages/home'], function (Page) {
				Page.onLoad();
				Page.onResize();
			});
		});
	</script>
}

<header class="section"></header>

<section class="section">
	<div class="pagespan">
		<!--// ROW - SPOTLIGHTS/FEATURED ANNOUNCEMENTS -->
		<section class="wrap">
			<div class="wrap-header">
				<span style="font-size: 1.3em; font-weight: 700;">Spotlights</span>
				<span style="font-size: 0.75em; color: #808080;"><small>SCROLL TO VIEW ALL >></small></span>
			</div>
			<div class="frame" id="row1" data-intro="row1" data-position="left">
				<ul class="clearfix" id="spotlights">

					<li class="long-panel">
						<div title="start here">
							<a href="//issuu.com/ucfbusiness/docs/cba-viewbook-2012?e=0" class="target_blank">
								<img class="viewbook" alt="ucf" data-echo="/images/pixel.gif">
								<p>Start Here...with our college guide</p>
							</a>
						</div>
					</li>

					@{
						string xmlDeanPost = "http://pauljarley.wordpress.com/feed/";
						WordPressPost deanpost = new WordPressPost(xmlDeanPost);
						
						<li>
							<div title="dean jarley's blog">
								<a href="#deanblog" class="target_blank">
									<img alt="photo of paul jarley, dean" data-echo="/images/panels/dean-blog.jpg">
									<p>Dean's Blog:<br> @deanpost.Title</p>
								</a>
								<div id="deanblog" style="display:none">
									<div class="container-fluid">
										<div class="row">
											<div class="col-lg-12">
												<h1>@deanpost.Title</h1>
												<p>@deanpost.Id.ToString()</p>
												<hr />
												<p><em>@Convert.ToDateTime(deanpost.PubDate).ToLongDateString() <span>, at</span> @Convert.ToDateTime(deanpost.PubDate).ToShortTimeString()</em></p>
											</div>
											<div class="col-lg-12">
												@Html.Raw(deanpost.Content)
												<br />
												<p class="text-center"><a href="@deanpost.HyperLink" target="_blank" class="btn btn-primary btn-sm">View Article</a></p>
												<p>&nbsp;</p>
											</div>
										</div><!--/.row-->
									</div>
								</div>
							</div>
						</li>
					}
					
					@{
						string xmlCareerPost = "http://careerpros.wordpress.com/feed/";
						WordPressPost opdpost = new WordPressPost(xmlCareerPost);

						<li>
							<div title="office of professional development blog">
								<a href="#opdblog" class="target_blank">
									<img alt="image of opd employees" data-echo="/images/panels/opd_blog.jpg">
									<p>Office of Professional Development:<br> @opdpost.Title</p>
								</a>
								<div id="opdblog" style="display:none">
									<div class="container-fluid">
										<div class="row">
											<div class="col-lg-12">
												<h1>@opdpost.Title</h1>
												<hr />
												<p><em>@Convert.ToDateTime(opdpost.PubDate).ToLongDateString() <span>, at</span> @Convert.ToDateTime(opdpost.PubDate).ToShortTimeString()</em></p>
											</div>
											<div class="col-lg-12">
												@Html.Raw(opdpost.Content)
												<br />
												<p class="text-center"><a href="@opdpost.HyperLink" target="_blank" class="btn btn-primary btn-sm">View Article</a></p>
												<p>&nbsp;</p>
											</div>
										</div><!--/.row-->
									</div>
								</div>
							</div>
						</li>
					}

					<li>
						<div title="dr. sean snaith's economic forecasts">
							<a href="//iec.ucf.edu/page/forecasts.aspx" class="target_blank">
								<img alt="ucf" data-echo="/images/panels/snaith-forecasts.jpg">
								<p>Florida and U.S. Economic Forecasts from Dr. Sean Snaith</p>
							</a>
						</div>
					</li>

					<li>
						<div title="Take the ball by Dr. Paul Jarley">
							<a href="//www.bus.ucf.edu/dean/take-the-ball" class="target_blank">
								<img alt="ucf" data-echo="/images/panels/take-the-ball.jpg">
								<p>Learn how to Take the Ball</p>
							</a>
						</div>
					</li>

				</ul>
			</div><!--/.frame -->
			<div class="scrollbar">
				<div class="handle">
					<div class="mousearea"><span></span></div>
				</div>
			</div><!--/.scrollbar -->
			<div class="controls center use-fastclick">
				<button class="btn prevPage"><i class="fa fa-chevron-left"></i><i class="icon-chevron-left"></i></button><!--/back button-->
				<button class="btn nextPage"><i class="fa fa-chevron-right"></i></button><!--/forward button-->
			</div><!--/.controls -->
		</section>

		<!--// ROW - EVENTS -->
		<section class="wrap">
			<div class="wrap-header">
				<span style="font-size: 1.3em; font-weight: 700;">Events</span>
				<span style="font-size: 0.75em; color: #808080;"><small>SCROLL TO VIEW ALL >></small></span>
			</div>
			<div class="frame" id="row2" data-intro="row2" data-position="left">
				<ul class="clearfix" id="events">

					@{
                        foreach (System.Xml.XmlNode eventItem in ucfCalendarEvents){
                            if (eventItem.HasChildNodes){

                                string guid = "";
                                string eventTitle = "";
                                string eventImage = "";
                                string eventStartDate = "";
                                string eventEndDate = "";
                                string eventUrl = "";

                                foreach (System.Xml.XmlNode xmlnode in eventItem){
                                
                                    if (xmlnode.Name == "title")
								    {
									    eventTitle = xmlnode.InnerText;
								    }

                                    if (xmlnode.Name == "link")
								    {
									    eventUrl = xmlnode.InnerText;
								    }
                                
                                    if (xmlnode.Name == "description")
								    {
									    eventImage = xmlnode.InnerText;
                                        int first = eventImage.IndexOf("src=\"") + "src=\"".Length;
                                        int last = eventImage.LastIndexOf("\" alt");
                                        string img = eventImage.Substring(first, last - first);
                                        eventImage = img;
								    }

                                    if (xmlnode.Name == "ucfevent:startdate")
								    {
									    eventStartDate = xmlnode.InnerText;
								    }

                                    if (xmlnode.Name == "ucfevent:enddate")
								    {
									    eventEndDate = xmlnode.InnerText;
								    }

                                    //guid = eventUrl.Substring(eventUrl.Length - 4);
                                }

                                <li>
					                <div title="@eventTitle">
						                <a href="@eventUrl" target="_blank" >
                                        
                                            <div class="eventstart-date">
                                                <span>@Convert.ToDateTime(eventStartDate).ToString("MMM").ToUpper()</span><br>
                                                <span>@Convert.ToDateTime(eventStartDate).ToString("dd")</span>
                                            </div>

                                            @if (Convert.ToDateTime(eventStartDate).ToString("dd") != Convert.ToDateTime(eventEndDate).ToString("dd"))
                                            {
                                                <div class="eventend-date">
                                                    <span>@Convert.ToDateTime(eventEndDate).ToString("MMM").ToUpper()</span><br>
                                                    <span>@Convert.ToDateTime(eventEndDate).ToString("dd")</span>
                                                </div>
                                            }

                                            <img alt="ucf event " width="100" height="100" data-echo="@eventImage">
							                <p>@eventTitle</p>
						                </a>
					                </div>
				                </li>
                            }
                        }
                    }

				</ul>
			</div><!--/frame -->
			<div class="scrollbar">
				<div class="handle">
					<div class="mousearea"><span></span></div>
				</div>
			</div><!--/scrollbar -->
			<div class="controls center use-fastclick">
				<button class="btn prevPage"><i class="fa fa-chevron-left"></i><i class="icon-chevron-left"></i></button><!--/back button-->
				<button class="btn nextPage"><i class="fa fa-chevron-right"></i></button><!--/forward button-->
			</div><!--/controls -->
		</section>

		<!--// ROW - NEWS -->
		<section class="wrap">
			<div class="wrap-header">
				<span style="font-size: 1.3em; font-weight: 700;">News</span>
				<span style="font-size: 0.75em; color: #808080;"><small>SCROLL TO VIEW ALL >></small></span>
			</div>
			<div class="frame" id="row3" data-intro="row3" data-position="left">
				<ul class="clearfix" id="news">

					

					@{
						foreach (System.Xml.XmlNode itemNode in ucfTodayPostList)
						{
							if (itemNode.HasChildNodes)
							{

								string guid = "";
								string pubDate = "";
								string postTitle = "";
								string postAbstract = "";
								string postContent = "";
								string imgThumbnail = "";
								string postLink = "";

								// Images
								List<string> images = new List<string>();

								// Item nodes
								foreach (System.Xml.XmlNode node in itemNode)
								{
									if (node.Name == "title")
									{
										postTitle = node.InnerText;
									}

									if (node.Name == "link")
									{
										postLink = node.InnerText;
									}

									if (node.Name == "pubDate")
									{
										pubDate = node.InnerText;
									}

									if (node.Name == "guid")
									{
										guid = System.Text.RegularExpressions.Regex.Replace(node.InnerText, "https://today.ucf.edu/\\?p=", string.Empty);
									}

									if (node.Name == "description")
									{
										postAbstract = HttpUtility.HtmlDecode(node.InnerText);
									}

									if (node.Name == "content:encoded")
									{
										postContent = HttpUtility.HtmlDecode(node.InnerText);
									}

									if (node.Name == "enclosure")
									{
										imgThumbnail = node.Attributes["url"].Value;
									}

									if (node.Name == "media:group")
									{
										images.Add(node.ChildNodes.Item(0).Attributes["url"].Value);
									}
								}

								//-- Categories
								List<string> categories = new List<string>();
								System.Xml.XmlNodeList cs = itemNode.SelectNodes("category");
								foreach (System.Xml.XmlNode c in cs)
								{
									categories.Add(c.InnerText);
								}

								<li>
									<div title="@ucfTodayBlogTitle">
										<a href="#@guid" class="target_blank">
											<img alt="@postTitle" data-echo="@imgThumbnail">
											<p>@postTitle</p>
										</a>
										<div id="@guid" style="display:none">
											<div class="container-fluid">
												<div class="row">
													<div class="col-sm-6">
														<h1>@postTitle</h1>
														<hr />
														<p><em>@Convert.ToDateTime(pubDate).ToLongDateString(), at @Convert.ToDateTime(pubDate).ToShortTimeString()</em></p>
													</div>
													<div class="col-sm-6">

														<!--social share-->
														@*<p class="social-buttons">
												            <a href="https://twitter.com/intent/tweet?url=http://ucfmba.ucf.edu/&via=UCFBusiness&text=UCF Evening MBA" class="share-btn" id="ttButton" target="_blank">
													            <span class="share-btn-action share-btn-tweet">Follow</span>
													            <span class="share-btn-count">8,579</span>
												            </a>
												            <a href="https://www.facebook.com/sharer/sharer.php?u=http://ucfmba.ucf.edu" class="share-btn" id="fbButton" target="_blank">
													            <span class="share-btn-action share-btn-like">Like</span>
													            <span class="share-btn-count">4,325</span>
												            </a>
												            <a href="https://plus.google.com/share?url=http://ucfmba.ucf.edu" class="share-btn" id="gpButton" target="_blank">
													            <span class="share-btn-action share-btn-plus">+1</span>
													            <span class="share-btn-count">707</span>
												            </a>
											            </p>*@

														<a href="https://twitter.com/share" class="twitter-share-button" data-url="@postLink" data-text="@postTitle" data-via="UCFBusiness" data-hashtags="ucfbusiness">Tweet</a>
														<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>


													</div>
												</div><!--/.row-->
												<div class="row">
													<div class="col-lg-12">
														@Html.Encode(postContent)
														<p>&nbsp;</p>
														<p><small><strong>About the College of Business Administration:</strong> Established in 1968, the UCF College of Business Administration offers degrees at the bachelor’s, master’s, doctoral, and executive levels. All programs, as well as the Kenneth G. Dixon School of Accounting are accredited by <a href="https://datadirect.aacsb.edu/public/profiles/profile.cfm?interstitialComplete=1&runReport=1&unitid=54458&userType=All" target="_blank">AACSB International</a> – the Association to Advance Collegiate Schools of Business.</small></p>
														<p><small>The college provides high-quality academic programs designed to give students a competitive advantage in the world of business now and in the future. As such, the college establishes partnerships with some of the nation's most innovative leaders to model new and best practices that harness evolving technology. In addition, the college promotes a unique culture of engagement, risk-taking, cross-disciplinary collaboration and data-driven decision making in an effort to ensure students are well prepared to enter a dynamic marketplace.</small></p>
														<p><small><strong>America’s Partnership University:</strong> The University of Central Florida, the nation’s second-largest university with nearly 60,000 students, has grown in size, quality, diversity and reputation in its first 50 years. Today, the university offers more than 200 degree programs at its main campus in Orlando and more than a dozen other locations. UCF is an economic engine attracting and supporting industries vital to the region’s future while providing students with real-world experiences that help them succeed after graduation. For more information, visit <a href="//today.ucf.edu" target="_blank">UCF Today</a></small></p>
														<p style="text-align:center"><small>###</small></p>
													</div>
												</div>
												<div class="row">
													@if (images.FirstOrDefault() != null)
													{
														<img class="img-responsive" alt="ucf" data-echo="@images.FirstOrDefault()" width="100" style="width:100%;">
													}
												</div>
											</div>
										</div>
									</div>
								</li>

							}
						}
					}
					


					<li>
						<div title="Stay connected with social media">
							<a href="~/social-media">
								<img alt="ucf" data-echo="/images/panels/social-media.jpg">
								<p>Join the Conversation and Stay Connected. <em>#UCFBusiness</em></p>
							</a>
						</div>
					</li>

				</ul>
			</div><!--/frame -->
			<div class="scrollbar">
				<div class="handle">
					<div class="mousearea"><span></span></div>
				</div>
			</div><!--/scrollbar -->
			<div class="controls center use-fastclick">
				<button class="btn prevPage"><i class="fa fa-chevron-left"></i><i class="icon-chevron-left"></i></button><!--/back button-->
				<button class="btn nextPage"><i class="fa fa-chevron-right"></i></button><!--/forward button-->
			</div><!--/controls -->
		</section>
	</div>
</section>